# OAuth Configuration
# Get these from the respective developer consoles:
# Google: https://console.cloud.google.com/apis/credentials
# Facebook: https://developers.facebook.com/apps
# Apple: https://developer.apple.com/account/resources/identifiers

VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_FACEBOOK_APP_ID=your-facebook-app-id
VITE_APPLE_CLIENT_ID=your-apple-service-id
